# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/*
!staticfiles/.gitkeep

# Celery
celerybeat-schedule

# Env
.env
.env.*
!.env.example

# Virtualenv
.venv/
venv/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Docker
docker-compose.override.yml
